@{
    ViewBag.Title = "Inicio";
}

<div class="col-12">
    <div class="main-card mb-3 card">
        <div class="card-header">
            <h2 class="card-title">Integrantes</h2>
           </div>

            <div   class="card-body">
                <h1>Desarrollado por : </h1><br />
                <p class="lead"> Adamary Rivas</p> 
                <p class="lead"> Ashley Plata</p> 
                <p class="lead"> David Morales</p> 
                <p class="lead"> Javier Morales</p> 
                <p class="lead"> Michael Orozco</p>

            </div>

            <div class="card-footer">
                <div class="col-12">
                    <h2>Descripcion</h2>
                    <p>
                        Este trabajo es parte del Caso de estudio relacionado con el problema de reservacion de computadoras en el nether (Esperamos que las interfaces sean de su agrado)
                    </p>
                </div>
            </div> 
    </div>
</div>